{% block body %}

    {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
 
    {{ form(form) }}
    
    <table>
        <th>Commentaire</th>
        <th>Dépôt</th>
        {% for comment in comments %}       
        <tr>
            <td>{{ comment.content }}</td>
            <td>{{ comment.repository }}</td>
        </tr>
        {% endfor %}   
    </table>
{% endblock %}