{% block body %}

  {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
  {% endif %}
 

  <form action="{{ path('git_user_check') }}" method="post">
    <label for="git_user">Utilisateur :</label>
    <input type="text" id="git_user" name="git_user" value="" />

    <input type="submit" value="Rechercher" />
  </form>

{% endblock %}